body{
    background-color:azure;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-holder {
    display: flex;
    flex-direction: column;
    margin-top: 230px;
    height: 86vh;
}

h1{
    margin-top: 0;
}

button {
    border: none;
    text-decoration: none;
    padding: 16px 32px;
    width: 200px;
    margin-top: 30px;
}

#rainbow {
    background-color: lightcoral;
    color: white;
}

#clear, #normal {
    background-color: lightgray;
    color: white;
}
button:hover {
    transform: scale(1.1);
}

#counter {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.container{
    margin-top: 140px;
    width: 600px;
    height: 600px;
    display: grid;
    
}

.grid-item{
    background-color: white;

    margin: 0;
    padding: 0;
    border: 1px solid black;
}


